<% include ../partials/head %>

<% include ../partials/navbar %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% users.forEach(function(user) { %>
        <form id='login-form'  action="/edit/<%= user['_id'] %>" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="<%= user.name %>">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="<%= user.email %>">
          </div>

          <div class="form-group">
            <label for="university">University</label>
            <input type="text" class="form-control" name="university" placeholder="<%= user.university %>">
          </div>

          <div class="form-group">
            <label for="job">Job</label>
            <input type="text" class="form-control" name="job" placeholder="<%= user.job %>">
          </div>

          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" name="company" placeholder="<%= user.company %>">
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" placeholder="<%= user.phone %>">
          </div>

          <button type="submit" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      <% }); %>

      <% users.forEach(function(user) { %>
        <div class="person shadow">
          <img class="img-circle" src="<%= user.avatar %>" alt="image">
          <h3><a href="http://localhost:3000/robot/<%= user['_id'] %>"><%= user.name %></a></h3>
          <p>
            <% if( user.address.city ) { %>
              <%= user.address.city %>, <a href="http://localhost:3000/country/<%= user.address.country %>"><%= user.address.country %></a>
              |
            <% } %>

            <% if( user.job ) { %>
              <%= user.job %>, <%= user.company %>
            <% } else { %>
              <span>Available for hire</span>
            <% } %>

          </p>
          <p>
            <%= user.email %> | <%= user.phone %>
          </p>
          <dl>
            <% if( user.university ) { %>
              <dt>Education</dt>
              <dd><%= user.university %></dd>
            <% } %>
            <dt>Skills</dt>
            <dd>
              <% user.skills.forEach(function(skill) { %>
                <a href="http://localhost:3000/skill/<%= skill.uri %>"><%= skill.text %></a>
              <% }) %>
            </dd>
          </dl>
        </div>
      <% }); %>

    </div>
  </div>
</div>

<% include ../partials/footer %>

<% include ../partials/foot %>
